.container {
  margin: 0;
  padding: 0;
}
.pot-search {
  padding: 0;
}
.pot-search .ivu-card-body {
  padding: 10px 16px;
}
.wrap {
  display: table;
  vertical-align: top;
  width: 100%;
}
.wrap .left {
  display: table-cell;
  margin: 0;
  padding: 0;
  width: 800px;
}
.wrap .right {
  display: table-cell;
  padding-left: 20px;
  vertical-align: top;
}
.pot-canvas-top {
  text-align: left;
}
.pie {
  width: 100%;
  min-height: 200px;
  height: auto !important;
  height: 200px;
}
.pie .pie-content {
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
}
.pot-storage {
  width: 100%;
  min-height: 200px;
  height: auto !important;
  height: 200px;
}
.pot-storage .pot-storage-content {
  padding: 15px;
}
.pot-storage .pot-storage-content .pot-storage-top {
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 15px;
}
.pot-storage .pot-storage-content .regions {
  height: 40px;
  margin-bottom: 15px;
  border-bottom: 1px solid #eaedf1;
}
.pot-storage .pot-storage-content .regions ul {
  width: 100%;
  height: 40px;
  position: relative;
  bottom: -1px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.pot-storage .pot-storage-content .regions ul li {
  background: #fafafa;
  height: 40px;
  border-left: 1px solid #eaedf1;
  float: left;
  padding: 0;
  margin: 0;
}
.pot-storage .pot-storage-content .regions ul li a {
  display: block;
  height: 38px;
  line-height: 38px;
  border: 1px solid #eaedf1;
  border-left: none;
  color: #333;
  background: #fafafa;
  padding: 0 8px;
}
.pot-storage .pot-storage-content .regions ul li a .number-bg {
  border: 1px solid #eaedf1;
  background: #fff;
  display: inline-block;
  height: 19px;
  line-height: 19px;
  padding: 0 5px;
  border-radius: 10px;
}
.pot-storage .pot-storage-content .regions ul li.current {
  background: #fff;
  height: 40px;
  border-left: 1px solid #eaedf1;
  float: left;
  padding: 0;
  margin: 0;
}
.pot-storage .pot-storage-content .regions ul li.current a {
  display: block;
  height: 38px;
  line-height: 38px;
  border: 1px solid #eaedf1;
  border-left: none;
  border-top: 1px solid #39bfc3;
  border-bottom: 1px solid #fff;
  color: #39bfc3;
  background: #fff;
  padding: 0 8px;
}
.pot-storage .pot-storage-content .regions ul li.current a .number-bg {
  border: 1px solid #25b4b8;
  background: #25b4b8;
  display: inline-block;
  height: 19px;
  line-height: 19px;
  padding: 0 5px;
  border-radius: 10px;
  color: #fff;
}
.pot-position {
  min-height: 200px;
  height: auto !important;
  height: 200px;
}
.pot-position .pot-position-content {
  padding: 15px;
}
.pot-position .pot-position-content .pot-position-title {
  font-size: 16px;
  font-weight: 600;
}
.info-span {
  font-weight: bold;
}
.used {
  color: #49BDBF;
}
.no-pot-icon {
  background: url("../../../assets/images/no-pot-icon.png") no-repeat left center;
  padding-left: 20px;
  display: inline-block;
}
.under-pot-icon {
  background: url("../../../assets/images/under-pot-icon.png") no-repeat left center;
  padding-left: 20px;
  display: inline-block;
  margin-left: 15px;
}
.full-pot-icon {
  background: url("../../../assets/images/full-pot-icon.png") no-repeat left center;
  padding-left: 20px;
  display: inline-block;
  margin-left: 15px;
}
.sum-color {
  color: #6f788a;
}
